.board-link {
  padding: 4rem;
  line-height: 1.6;
  color: grey;
  &__heading {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5rem;
    background-image: linear-gradient(
      to right,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 3rem;
  }
  &__helptext {
    font-weight: 200;
    font-size: 2rem;
    width: 75%;
    margin-bottom: 2rem;
  }
  &__path {
    font-weight: 200;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    font-style: italic;
    display: inline-block;
    width: 75%;
  }
  &__info {
    font-size: 1.1rem;
    color: #c26dbc;
  }
  &__clipboard {
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all 0.2s;

    display: inline;

    &:hover {
      box-shadow: 0.5rem 0.5rem 0.5rem rgba(var(--rgba-color-black), 0.15);
    }
  }
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
