.add-board-item-form {
  padding: 3.5rem;
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.6;
  &__heading {
    margin-bottom: 3rem;
    letter-spacing: 0.5rem;
    background-image: linear-gradient(
      to right,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
    -webkit-background-clip: text;
    color: transparent;
  }
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, #d7d9da 0%, #fdfcfc 100%);
}
