.app {
  background-image: linear-gradient(
      to top right,
      rgba(#c26dbc, 0.97),
      rgba(#3cacae, 0.97)
    ),
    url("./assets/main-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
