.add-item-container {
  margin-top: 2rem;
}

.add-item {
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  opacity: 0.9;
  margin-bottom: 3rem;
  transition: all 0.2s;
  &__icon {
    fill: var(--color-primary-dark);
  }

  &:hover {
    transform: translateY(-0.7rem);
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(#000, 0.15);
  }
}
