.form-input-container {
  margin: 1rem;
  width: 70%;
  &__input {
    font-size: 1.6rem;
    font-family: inherit;
    color: inherit;
    padding: 2rem 2rem;
    border-radius: 2px;
    background-color: rgba(white, 0.8);
    backdrop-filter: grayscale(20%);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.1);

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(#000, 0.1);
      border-bottom: 3px solid var(--color-primary-light);
    }

    &:focus:invalid {
      border-bottom: 3px solid var(--color-grey-dark-2);
    }

    &::-webkit-input-placeholder {
      color: var(--color-grey-dark-3);
    }
  }
  &__label {
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
  
}
