.ticket-preview-container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  width: 75%;
}

.ticket-header {
  font-size: 1.6rem;
  border: 1px solid lightgray;
  border-radius: 3%;
  padding: 1rem;
}
.ticket-description {
  overflow-y: auto;
  overflow-x: hidden;
}

.ticket-description-view {
  width: 100%;
  white-space: pre-wrap;
  border: 1px solid lightgray;
  border-radius: 3%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.ticket-description-edit {
  white-space: pre-wrap;
  border: 1px solid lightgray;
  height: 310px;
  padding: 1rem;

  width: 100%;

  font-size: 1.6rem;
}

.tag-list-container {
  padding: 2rem;
}
.tag-list-item {
  font-size: 1.5rem;
  font-family: Nunito sans-serif;
  text-decoration: underline;

  &:not(:first-child){
    &::before {
      content: "|";
      padding: 0 1rem;
    }
  }
  
}

.select {
  margin: 1rem;
  width: 100%;
  & > * {
    border: none !important;
    background-color: rgba(white, 0.8) !important;
    box-shadow: 0 0.5rem 1rem rgba(#000, 0.1);
    backdrop-filter: grayscale(20%);
    font-size: 1.2rem;
    font-family: Nunito sans-serif;
    &:first-child {
      padding-bottom: 0;
    }
  }
}

.ticket-heading {
  font-size: 3rem;
  margin-bottom: 3rem;
  padding: 1rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  -webkit-background-clip: text;
  color: transparent;
}

.ticket-assigners {
  &__heading {
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    font-family: Nunito sans-serif;
  }
}

.tag-form {
  display: flex;
  align-items: center;
}
