.hehe{
  position:relative;
}

.lanes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
  flex: 1;
  &__list {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    //overflow-y:hidden
    align-self: flex-start;
    width: 100vw;
    flex: 1;
  }
}

.scrollbar {
  &::after {
    content: "aaa";
    position: absolute;
    right: -100px;
    width: 40px;
    height: 100%;
    background: red;
  }
}
