.input-container {
  width: 100%;
  margin: 0 auto;
}

.label {
  font-size: 2rem;
}

.input {
  width: 80%;
  border-radius: 3px;
  font-size: 3rem;
  margin: 1rem;
  padding: 2rem;
  background: #fff;
  font: inherit;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  &::placeholder {
    font-size: 1rem;
  }
}
