.ticket {
  font-size: 1.8rem;
  font-weight: bold;
  background-color: rgba(#3cacae, 0.9);
  flex-direction: column;
  padding: 3rem;
  margin: 1rem;
  cursor: pointer;
  backface-visibility: hidden;
  transition: transform 0.25s ease-out;
  overflow: hidden;
  color: gainsboro;
  border-radius: 3px;
  -moz-osx-font-smoothing: grayscale;
  flex: 0 0 18%;
  overflow: hidden;
  margin-bottom: auto;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 1rem 1rem rgba(#000, 0.15);
  }
}
