.user-icon {
  background-color: white;
  position: relative;
  border-radius: 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  outline: none;
  cursor: pointer;

  &--small {
    height: 4.2rem;
    width: 4.2rem;
    fill: var(--color-primary-dark);
  }
  &--big {
    height: 7.2rem;
    width: 7.2rem;
    fill: var(--color-primary-dark);
  }
}
