.user-icon {
  background-color: white;
  position: relative;
  border-radius: 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  outline: none;
  cursor: pointer;

  &--extra-small,
  &--small,
  &--big {
    fill: var(--color-grey-dark-1);
  }

  &--extra-small {
    height: 3.6rem;
    width: 3.6rem;
  }

  &--small {
    height: 5rem;
    width: 5rem;
  }

  &--big {
    height: 7.2rem;
    width: 7.2rem;
  }
}
